[submodule "Sophomore1"]
	path = Notes/Sophomore1
	url = git@github.com:FUTURETECH6/Notes-Sophomore1.git
[submodule "Sophomore2"]
	path = Notes/Sophomore2
	url = git@github.com:FUTURETECH6/Notes-Sophomore2.git
[submodule "Junior1"]
	path = Notes/Junior1
	url = git@github.com:FUTURETECH6/Notes_Junior1.git
[submodule "Junior2"]
	path = Notes/Junior2
	url = git@github.com:FUTURETECH6/Notes_Junior2.git
